.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: 'Dela Gothic One', 'Young Serif', 'Pacifico', sans-serif;
  background-position: center;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

#bgImage {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  min-width: 1480px;
  max-height: 100%;
  min-height: 880px;
  z-index: -5;
  filter: brightness(85%);
}

#clock {
  padding-top: 50px;
  text-align: center;
  height: 260px;
  font-size: 190px;
  margin: 10px;
  font-family: 'Young Serif', 'Dela Gothic One', 'Pacifico', sans-serif;
  text-shadow: 2px 2px 15px rgba(215, 228, 36, 0.3);
  color: rgb(227, 239, 249);
}

#login-form {
  text-align: center;
  color: whitesmoke;
}

#login-form input:first-child {
  text-align: center;
  color: whitesmoke;
  font-size: 1.3rem;
  padding: 10px;
  width: 240px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  transition: all, 0.4s;
}

#login-form input:first-child:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#login-form input:hover::-webkit-input-placeholder {
  /*placeholder color change*/
  color: rgb(50, 50, 50);
}
#login-form input:first-child:focus {
  outline: none;
  border-bottom: 1px solid whitesmoke;
  background-color: rgba(0, 0, 0, 0);
}

#login-form input:nth-child(2) {
  margin-left: 20px;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(80, 80, 80);
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
  transition: all, 0.4s;
}
#login-form input:nth-child(2):hover {
  background-color: rgba(255, 255, 255, 0.8);
}
#login-form input:nth-child(2):active {
  background-color: darkgray;
  color: whitesmoke;
  outline: none;
}

#greeting {
  margin: 0 auto;
  text-align: center;
  color: rgb(237, 240, 98);
  font-size: 50px;
  line-height: 1.2;
}

#todo-form {
  text-align: center;
  margin-top: 20px;
}
#todo-form input {
  text-align: center;
  color: whitesmoke;
  font-size: 1rem;
  width: 540px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 500;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  transition: all, 0.4s;
}

#todo-form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
#todo-form input:hover::-webkit-input-placeholder {
  /*placeholder color change*/
  color: rgb(50, 50, 50);
}
#todo-form input:focus {
  outline: none;
  border-bottom: 1px solid whitesmoke;
  background-color: rgba(0, 0, 0, 0);
}
#todo-list {
  text-align: center;
}

#todo-list li {
  list-style: none;
  color: rgba(250, 250, 250, 0.8);
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 1rem;
  width: 340px;
  margin: 0 auto;
}

#todo-list li:hover {
  color: rgb(255, 166, 0);
}

#todo-list button {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  color: whitesmoke;
  font-weight: 700;
  width: 30px;
  height: 30px;
  border: none;
  font-size: 1.2rem;
}

#todo-list button:hover {
  cursor: pointer;
}

#quote {
  text-align: center;
  position: fixed;
  bottom: 20px;
  margin-left: 36px;
  font-size: 25px;
  font-weight: 200;
  font-family: 'Young Serif', sans-serif;
  color: rgb(237, 240, 98);
}

#weather {
  position: fixed;
  top: 20px;
  right: 36px;
  font-size: 15px;
  font-weight: 700;
  color: rgba(255, 166, 0, 0.8);
}
#weather:hover {
  color: rgb(255, 255, 255);
}
